@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root {
    --fonte-titulo: 'Passion One', cursive;
    --fonte-paragrafo: 'Sriracha',  cursive;
}

html, body {
    background-color: whitesmoke;
    padding: 0;
    margin: 0;
}

header {
    background-color: black;
    color: white;
    max-width: 100vw;
    min-width: 320px;
    padding: 10px;
    text-align: center;
}

header > h1 {
    font-family: var(--fonte-titulo);
    font-size: 4em;
    margin-bottom: 0;
    font-variant: small-caps;
}

header p {
    margin-bottom: 30px;
    padding-bottom: 20px;
    margin-top: 0;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

div { 
    padding: 8vh 50px;
    font-family: var(--fonte-paragrafo);
    font-size: 1.5em;
    margin: 0;
    line-break: 2em;
}

div#flor {
    background: black url(../imagens/background001.jpg) center center no-repeat fixed;
    background-size: cover;
    max-width: 100vw;
    min-width: 320px;
    height: 500px;
    margin: 0;
    padding: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.329);
}

div#flor p {
    background-color: rgba(0, 0, 0, 0.26);
    max-width: 30vw;
    min-width: 320px;
    padding: 8vh 30px;
    color: whitesmoke;
}

div#livro {
    background:black url(../imagens/background002.jpg) center center no-repeat fixed;
    background-size: cover;
    max-width: 100vw;
    min-width: 320px;
    height: 500px;
    margin: 0;
    padding: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.329);
}

div#livro p {
    background-color: rgba(0, 0, 0, 0.26);
    max-width: 30vw;
    min-width: 320px;
    padding: 8vh 30px;
    color: whitesmoke;
}

footer {
    max-width: 100vw;
    min-width: 320px;
    background-color: rgb(24, 24, 24);
    height: 40px;
    text-align: center
}

footer p {
    color: white;
    padding: 10px;
}

